html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  

.form-control:focus {
    background-color: #2C2C2C !important;
    border-color: #2C2C2C !important;
    box-shadow: none !important;
    color: white !important;
}

.input-group-text {
    background-color: #2C2C2C !important;
}

.input-group .form-control:focus+.input-group-text {
    border-color: transparent;
}

.input-group .form-control::placeholder {
    color: #6c757d;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-item:hover {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
  }